<div class="jumbotron">
    <h1>ServerTrack</h1>
    <p></p>
</div>

<div class="container">
    <div class="row">
        <div class="well col-sm-4">
            <h2>Points of Interest</h2>
            <ul>
                <li>Global.asax</li>
            </ul>
            <ul>
                <b>Controllers</b>
                <li>ServersController</li>
            </ul>
            <ul>
                <b>Dtos</b>
                <li>CreateServerLoadDto</li>
                <li>RamLoadAveragesDto</li>
            </ul>
            <ul>
                <b>Global</b>
                <li>Utility</li>
            </ul>
            <ul>
                <b>Models</b>
                <li>LoadRecord</li>
                <li>LoadRecordByServer</li>
            </ul>
            <ul>
                <b>Persistence</b>
                <li>InMemoryContext</li>
            </ul>
        </div>
        <div class="well col-sm-offset-1 col-sm-7">
            Load Records for "Mock_Server_1" are initialized and include data for the last 24 hours.
            RAM Load will be random double between 0.1 and 1.5.

            Thank you for the opportunity to interview at CenturyLink!
        </div>
    </div>
</div>

